.button{
    padding: 17px 36px 17px 32px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #33323D;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}