.hero{
    margin-bottom: 150px;
    &__container{
        position: relative;
        background-image: url(../../images/hero-backround-img.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1111px 600px;
        width: 100%;
        max-width: 1111px;
        min-height: 600px;
    }

    &__left-bottom{
        padding-top: 56px;
        max-width: 445px;
        min-height: 357px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &__heading{
        font-family: Ibarra Real Nova;
        // min-width: 390px;
        // min-height: 200px;
        margin: 0;
        margin-bottom: 53px;
        font-weight: bold;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.446429px;
        color: #33323D;
    }

    &__button{
        margin: 0;
        padding: 0;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 48px;
        background-color: #203A4C;
        background-image: url(../../images/button-img.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 48px 48px;
        border: none;
        width: 100%;
        max-width: 200px;
        min-height: 48px;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 2px;
        cursor: pointer;
    }

    &__button:hover{
        background-image: url(../../images/btn-hover-img.png);
        background-color: #5FB4A2;
    }

    &__button:active{
        background-image: url(../../images/button-img-2.png);
        background-color: #979797;
    }
}

@media only screen and (max-width: 768px){
    .hero{
        margin-bottom: 96px;

        &__container{
            position: relative;
            background-image: url(../../images/hero-tablet-img.png);
            background-size: 688px 600px;
            width: 100%;
            min-height: 600px;
        }
    
        &__left-bottom{
            max-width: 514px;
            min-height: 278px;
        }

        &__heading{
            // max-width: 458px;
            // min-height: 126px;
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.357143px;
        }
    }
}

@media only screen and (max-width: 433px){
    .hero{
        margin-bottom: 96px;
    
        &__left-bottom{
            max-width: 311px;
            min-height: 272px;
        }

        &__heading{
            padding-top: 24px;
            margin-bottom: 32px;
            // max-width: 311px;
            // min-height: 168px;
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.357143px;
        }
    }
}

@media only screen and (max-width: 375px){
    .hero{
        margin-bottom: 430px;
        &__container{
            position: relative;
            background-image: url(../../images/hero-mobile-img.png);
            background-size: 311px 271px;
            width: 100%;
            min-height: 271px;
        }
    
        &__left-bottom{
            padding-top: 24px;
            min-height: 272px;
            position: absolute;
            left: 0;
            bottom: -115%;
        }

        &__heading{
            padding-bottom: 32px;
        }
    }    
}